<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Productos</title>
</head>
<body>
    <h1>Registro de Productos</h1>
    <form action="{{url_for('nuevo')}}" method="POST">

        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required><br>

        <label for="cantidad">Cantidad:</label>
        <input type="number" name="cantidad" required><br>

        <label for="precio">Precio:</label>
        <input type="number" name="precio" step="0.01" required><br>

        <label for="fecha">Fecha de Vencimiento:</label>
        <input type="date" name="fecha" required><br>

        <label for="categoria">Categoría:</label>
        <select name="categoria" required>
            <option value="Electrónica">Electrónica</option>
            <option value="Bocaditos">Bocaditos</option>
            <option value="Verduras">Verduras</option>
            <option value="Bebida">Bebida</option>
        </select><br>

        <button type="submit">Agregar producto</button>
    </form>
</body>
</html>
